services:
  mongo:
    image: mongo:6
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  mongo-crud-app:
    build: .
    container_name: mongo-crud-app
    ports:
      - "8080:8080"
    environment:
      SPRING_DATA_MONGODB_URI: mongodb://mongo:27017/crud_op
    depends_on:
      - mongo

volumes:
  mongo_data:
